h1 {
    font-size: 20px;
    margin: 0;
}

.controls {
    padding: 40px;
}

    .controls button {
        background-color: #6699ff;
        border-color: #6699ff;
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: small;
        -ms-border-radius: 0;
        border-radius: 0;
        -ms-opacity: 1;
        opacity: 1;
        margin-right: 20px;
    }

        .controls button:hover {
            background-color: #6699ff;
            border-color: #6699ff;
            -ms-opacity: 0.9;
            opacity: 0.9;
        }

.container {
    background-color: #F5F5F5;
    padding: 35px 40px 30px 40px;
    display: inline-block;
    width: 500px;
    height: 220px;
    max-height: 220px;
}

.mailBlocks {
    background-color: #FFFFFF;
    display: inline-block;
    -webkit-box-shadow: 0 1px 0 0 #CCCCCC inset;
    -ms-box-shadow: 0 1px 0 0 #CCCCCC inset;
    box-shadow: 0 1px 0 0 #CCCCCC inset;
    height: 100px;
    width: 425px;
    margin-top: 40px;
    padding: 10px;
}

    .mailBlocks div {
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 2px 5px;
    }

input {
    border: none;
    width: 100%;
}

    input:focus {
        outline: none;
    }

.bubble {
    background-color: #D9E8FF;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .bubble button:focus {
        outline: none;
    }

    .bubble > span {
        margin-right: 5px;
    }

        .bubble > span.underline {
            border-bottom: 1px solid red;
        }

.resize {
    -moz-resize: both;
    -ms-resize: both;
    -o-resize: both;
    resize: both;
    overflow: auto;
}
