.btn-primary {
    background-color: #6699ff;
    padding: 5px;
    -ms-border-radius: 0;
    border-radius: 0;
}

.controls {
    padding: 15px;
}

h1 {
    font-size: 20px;
}

.container {
    background-color: #F5F5F5;
    padding: 20px;
    display: inline-block;
}

.mailBlocks {
    background-color: #FFFFFF;
    display: inline-block;
}

    .mailBlocks div {
        display: inline-block;
    }

input {
    border: none;
    width: 100%;
}

    input:focus {
        outline: none;
    }

.bubble {
    background-color: #D9E8FF;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

    .bubble > span {
        margin-right: 5px;
    }

        .bubble > span.underline {
            border-bottom: 1px solid red;
        }

.resize {
    -moz-resize: both;
    -ms-resize: both;
    -o-resize: both;
    resize: both;
    overflow: auto;
}
