<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="container" ng-controller="mainCtrl as mctrl">
        <emails-editor header="Board Name" email-container="mctrl.emailContainer"></emails-editor>
        <div class="controls">
            <button ng-click="mctrl.addEmails()">Add random email</button>
            <button ng-click="mctrl.getEmailsCount()">Get emails count</button>
        </div>
    </div>
</body>
</html>
