<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="css/app.css" type="text/css"/>
    <link rel="stylesheet" href="css/emails-editor.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="emails-container" ng-controller="emailsCtrl as ctrl">
        <emails-editor header="Board Name" emails-container="ctrl.emailContainer"></emails-editor>
        <div class="emails-controls">
            <button ng-click="ctrl.addEmails()">Add random email</button>
            <button ng-click="ctrl.getEmailsCount()">Get emails count</button>
        </div>
    </div>
</body>
</html>
